body {
  background-color: rgb(235, 235, 235);
   font-family: 'DecovarRegular24TermA';
   font-weight: normal;
   font-style: normal;
}
button {
  background-color: #0ec088;
font-size: 40px;
color: white;
border-radius: 29px;
width: 189px;
height: 77px;
border-style: none;
cursor: pointer;
font-family: inherit;

}
.recentReviews {
  height: 62vh;
}
.container {
  padding: 0
}
.loginHeader {
  margin-top: 55px;
  color: white;
}
.loginHeader > h1 {
  color: #0ec088;
  font-size: 400%;
  line-height: 79px;
  font-weight: 400;
}
.loginContainer {
  text-align: center;
}
.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttonContainer > * {
  margin-top: 10px;
}
.dailyQuote {
  font-size: 150%;
}
.loginFormContainer, .signUpFormContainer {
  display: flex;
  justify-content: center;
}
.signUpFormContainer {
  margin-top: 10px;
}
.loginForm, .signUpForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #0ec088;
  border-radius: 25px;
}
.loginFormBox {
  text-align: center;
  border-radius: 55px;
border-style: none;
width: 243px;
height: 61px;
background-color: #C4C4C4;
color: white;
font-size: 40px;
margin: 20px;
}
.signUpForm {
  height: 63vh;
  align-items: center;
  justify-content: space-evenly;
  width: 94%;
}
.signUpFormBox {
  height: 10%;
  width: 90%;
  border-radius: 55px;
  background-color: #C4C4C4;
  border-style: none;
  font-size: 1.6rem;
  text-align: center;
}
.signupButtonContainer {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  width: 100%;
  align-items: flex-end;
}
.signupButtonContainer > * {
  font-size: 2rem;
  width: 42%;
}
.mainHeader {
  background-color: #0ec088;
  width: 100%;
  height: 10vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainHeader > * {
  text-align: center;
  font-size: 2.8rem;
  color: white;
}
.userProfileContainer, .reviewersProfileContainer {
  width: 100%;
  height: 12vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.reviewersProfileContainer {
  margin-top: 3px;
  height: 6.5rem;
}
.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22rem;
  border-radius: 25px;
  background-color: #0ec088;
}
.userInfo, .reviewerInfo {
  text-align: center;
  font-family: 'Asap', sans-serif;
  line-height: 24px;
  width: 75%;
}
.userProfileImageContainer, .reviewProfileImageContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userName {
  font-size: 2rem;
}
.totalReviews {
  font-size: 18px;
  color: white;
}
.userImage,
.reviewerImage,
.checkCommitsImage,
.checkCompleteImage,
.chatMessageImage,
.userImageSettings,
.requesterImage{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid white;
}
.heading {
  color: #0ec088;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}
.reviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0ec088;
  border-radius: 25px;
  height: 57vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 12px;
}
.reviewersProfile {
  width: 18rem;
  background-color: #D5DDDA;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px;
}
.ratingContainer {
  height: 28px;
}
.currentRating {
  margin: 0;
  font-size: 2rem;
  height: 3.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewerUsername {
  font-size: 28px;
}
.categoryName {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}
.dashboardNavi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px
}
.leftArrow, .rightArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 57px;
  width: 57px;
  font-size: 57px;
  color: #0ec088;
}
.categoryList{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 75vh;
}
.category {
  color: white;
  background-color: #0ec088;
  font-size: 32px;
  margin: 5px 0;
  border-radius: 25px;
  width: 90%;
}
.mainFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: #0ec088;
  color: white;
  text-align: center;
  font-size: 36px;
}
.deedListContainer {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0ec088;
  border-radius: 25px;
  height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.deedList {
  width: 291px;
  height: 76px;
  background-color: #D5DDDA;
  border-radius: 25px;
   display: flex;
   align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.requesterImage {
  width: 3.2rem;
  height: 3.2rem;
}
.requestImageContainer {
  box-sizing: border-box;
}
.userHeadlineInfo {
  text-align: center;
  align-self: center;
  font-family: 'Asap', sans-serif;
  line-height: 24px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
}
.deedContainer {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0ec088;
  border-radius: 25px;
  height: 520px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.userLocation,.userSummary {
  box-sizing: border-box;
  text-align: center;
  width: 90%;
  border-radius: 25px;
  background-color: #D5DDDA;
  font-size: 19px;
  padding: 5px;
  margin: 5px;
}
.userSummary {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.deedUsername {
  font-size: 120%;
  font-family: 'DecovarRegular24TermA';
   font-weight: bold;
   font-style: normal;
}
.deedInfoContainer {
  align-items: center;
}
.deedButtonContainer {
  display: flex;
  justify-content: space-between;
  font-size: 30%;
  margin: 30px 0;
}
.deedButtonContainer > * {
  margin: 0 10px;
  padding: 10px;
  width: 50%;
  border: 2px solid white;
}

.hidden {
  visibility: hidden;
}
.selected {
  background-color: white;
  color: #0ec088;
}
.Alert-text {
  font-family: 'DecovarRegular24TermA';
   font-weight: bold;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
   font-size: 150%;
}

.requestForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.requestForm > * {
  border-style: none;
  width: 90%;
  margin: 10px;
  text-align: center;
  border-radius: 25px;
  height: 130%;
  font-size: 1.6rem;
}
.accountFormContainer {
  margin-top: 33%;
}
.accountInfoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountInfoForm > * {
  border-style: none;
  width: 90%;
  margin: 10px;
  text-align: center;
  border-radius: 25px;
  height: 130%;
  font-size: 1.6rem;
}
.requestBoxSummary {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
.summaryLabel {
margin: 0;
}
.checkDeedButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.checkDeedButtonContainer > * {
  margin: 0 10px;
  width: 50%;
  height: 50%;
  font-size: 160%;
}
.checkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0ec088;
  border-radius: 25px;
  height: 68vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.checkRequest, .checkCommits, .checkComplete {
  width: 21rem;
  padding: 10px;
  background-color: #D5DDDA;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  text-align: center;
}
.chatMessageContainer {
   width: 21rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  text-align: center;
}
.messagesContainer {
  scroll-behavior: smooth
}
.chatMessageTextYou, .chatMessageTextOther {
  width: 80%;
  font-size: 120%;
  text-align: left;
  border-radius: 25px;
  padding: 15px;
  height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.chatMessageTextYou {
  background-color: rgb(11, 243, 154);
  color: white;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}
.chatMessageTextYou:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(11, 243, 154);
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(11, 243, 154);
    border-bottom: 10px solid transparent;
    right: -6px;
    transform: rotateZ(45deg);
    top: 49px;
}
.chatMessageTextOther:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #D5DDDA;
    border-right: 10px solid transparent;
    border-top: 10px solid #D5DDDA;
    border-bottom: 10px solid transparent;
    left: -9px;
    transform: rotateZ(45deg);
    top: 49px;
}
.chatMessageTextOther {
  background-color: #D5DDDA;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: 15px;
}
.checkRequestHeadline, .checkCommitsHeadline, .checkCompleteUsername {
  width: 80%;
  font-size: 120%;
  white-space:nowrap;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  text-overflow: ellipsis;
}
.checkCompleteUsername {
  font-weight: bold;
  font-size: 135%;
  font-family: 'Asap', sans-serif;
}
.checkRequestButtonContainer, .checkCommitsImageContainer, .checkCompleteImageContainer, .chatMessageImageContainer {
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 180%;
}
.checkRequestCompleteIcon {
  color: #0ec088;
  margin: 0;
}
.checkRequestDeleteIcon {
  color: red;
  margin: 0 10px;
}
.ratingContainer {
  margin: 0;
  font-size: 5vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewButtonContainer {
  display: flex;
  justify-content: center;
}
.reviewButtonContainer > * {
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}
.settingsButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: 60vh;
}
.settingsButtonContainer > * {
  margin: 10px;
  padding: 10px;
}
.userImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.userImageSettings {
  width: 8rem;
  height: 8rem;
}
.updatePhotoButton {
  width: 100%;
  margin: auto;
  margin-top: 100px;
}
.accountInfoButton, .logoutButton {
  width: 90%;
  margin: auto;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.messagesContainer {
  background-color: #0ec088;
  border-radius: 25px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.messagesContainer > * {
  width: 90%;
  margin: 2px;
}
.messageButtonContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.messagesInteraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.sendMessage {
  width: 80%;
  margin-top: 5px;
  padding: 2px;
  border-style: none;
  border-radius: 25px;
}
.messageButtonContainer > * {
  font-size: 2rem;
  width: 30%;
  height: 80%;
}

.deedNavigationHeader {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.deedNavigationHeader > * {
  height: 6vh;
  margin: 0 5px;
  font-size: 1.7rem;
}
.deedListLocation {
  width: 15vw;
}

.deedListButtonContainer {
  display: flex;
  justify-content: center;
}
.deedListButtonContainer > * {
  width: 30vh;
  font-size: 2rem;
  height: 6vh;
}
.awaitingUserLocation {
  display: flex;
  height: 77vh;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
.deedMarker {
  background-image: url('images/markers/deed-marker.png');
}
.userMarker {
  background-image: url('images/markers/user-marker.png');
}
.deedMarkerButton {
  background-image: url('images/markers/deed-marker-button.png');
}
.deedMarker, .userMarker, .deedMarkerButton {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.markerDeed {
  width: 150px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}
.markerImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border:2px solid white;
  object-fit: cover;
  object-position: center;
}
.markerDeedInfo {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.markerHeadline {
  font-weight: bold;
  text-align: center;
  font-size: .8rem;
}
.markerSummary {
  margin-top: 5px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: .8rem;
}
.markerButton {
  font-size: 0.9rem;
  height: 2vh;
  width: 60%;
  margin-top: 5px;
  padding:0;
}

.dashFooterButtonContainer {
  display: flex;
  margin-top: 5px;
  height: 10vh;
  width: 100%;
  justify-content: space-evenly;
}
.dashFooterButtonContainer > * {
  height: 100%;
  width: 19%;
  background-color: #0ec088;
  border: 2px solid white;
  border-radius: 20px;
  background-position: center;
  color: white;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  background-origin: content-box;
}
.reviewModalContainer, .requestModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.reviewModalBackground, .requestModalBackground {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.8;
  background-color: #C4C4C4;
}
.review-modal, .request-modal {
  position: fixed;
  z-index: 3;
  width: 80%;
  height: 50vh;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 10px #88888865;
  padding: 10px;
}
.reviewModalUserImage {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border:2px solid white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 2px 6px #8888882a;
}
.closeReviewModal, .closeRequestModal {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2rem;
  opacity: .8;
}
.reviewModalUsername, .requestModalHeadline {
  font-size: 1.6rem;
  font-family: 'DecovarRegular24TermA';
   font-weight: bold;
   font-style: normal;
   margin-top: 5px;
}
.reviewModalCategory {
  margin-top: 3px;
  color: black;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.reviewModalSummary, .requestModalSummary {
  padding: 10px;
  height: 17vh;
  font-size: 1.2rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.reviewModalRating {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
